<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
      <a routerLink="/">FORUM</a>
      <nav *ngIf="!(user | async) else userMenu">
        <a mat-button routerLink="/register">REGISTER</a>
        <a mat-button routerLink="/login">SIGN IN</a>
      </nav>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<ng-template #userMenu>
  <mat-card-title *ngIf="user | async">Hello: {{ userId?.displayName }}</mat-card-title>
  <nav>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
      <mat-menu #menu=matMenu>
        <a routerLink="/posts/new" mat-menu-item>Add new post</a>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </button>
  </nav>
</ng-template>
