<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>POST</h1>
</div>

<div class="error" *ngIf="error | async">{{ error | async}}</div>

<mat-progress-spinner
  *ngIf="loading | async else postArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #postArea>
  <div fxLayout="column wrap" fxLayoutGap="16px grid">
    <div
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.lt-lg="33%"
      fxFlex="25%">
      <mat-card fxLayout="row wrap" fxLayoutAlign="space-between center">
        <img [src]="postId.image | image" [alt]="'Photo of ' + postId?.title" mat-card-sm-image/>
        <mat-card-title>{{ postId?.title }}</mat-card-title>
        <mat-card-subtitle>{{ postId?.description }}</mat-card-subtitle>
        <mat-card-subtitle>{{ postId.datetime }}</mat-card-subtitle>
        <app-comments></app-comments>
      </mat-card>
    </div>
  </div>
  <div>
    <app-centered-card>
      <mat-card>
        <mat-card-content>
          <div class="error" *ngIf="error | async">
            {{error | async}}
          </div>

          <form (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">
            <mat-form-field appearance="outline">
              <mat-label>Comment</mat-label>
              <textarea
                name="comment"
                required
                ngModel
                matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="3"></textarea>
            </mat-form-field>
            <div>
              <button
                type="submit"
                mat-raised-button
                color="primary"
                [disabled]="f.invalid || (loading | async)"
              >SAVE
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </app-centered-card>

  </div>
</ng-template>
