<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>POSTS</h1>
</div>

<div class="error" *ngIf="error | async">{{ error | async}}</div>

<mat-progress-spinner
  *ngIf="loading | async else postsArea"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #postsArea>
  <div fxLayout="column" fxLayoutGap="10px">
    <div
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.lt-lg="33%"
      fxFlex="25%"
      *ngFor="let post of posts | async"
    >
      <mat-card fxLayout="row wrap" fxLayoutAlign="space-between center">
        <img [src]="post.image | image" [alt]="'Photo of ' + post?.title" mat-card-sm-image/>
        <mat-card-subtitle style="color: white">{{ post?.datetime }}</mat-card-subtitle>
        <a [routerLink]="['/posts/', post._id]" style="color: white; text-decoration: none">
          <mat-card-title>{{ post?.title }}</mat-card-title>
        </a>
      </mat-card>
    </div>
  </div>
</ng-template>
