<h1>NEW POST</h1>
<mat-card>
  <mat-card-content>
    <div class="error" *ngIf="error | async">{{ error | async}}</div>
    <form (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input type="text" name="title" required matInput ngModel/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          name="description"
          required
          ngModel
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="3"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Image</mat-label>
        <app-file-input name="image" ngModel></app-file-input>
      </mat-form-field>

      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="f.invalid || (loading | async)"
      >SAVE
      </button>
    </form>
  </mat-card-content>
</mat-card>
